{% load filtros %}

<div class="santinho {{ candidato.cargo.nome|slugify }}">
    <input type="hidden" name="candidato_{{ candidato.cargo.codigo }}" value="{{ candidato.numero }}"/>
    <div class="candidato">
        <div class="foto">
            {% if candidato.nome == "Voto Nulo" or candidato.nome == "Voto em Branco" %}
            <img src="{{ STATIC_URL }}img/{{ candidato.nome|slugify }}.jpg" alt="{{ candidato.nome }}"/>
            {% else %}
            <img src="http://divulgacand2014.tse.jus.br/divulga-cand-2014/eleicao/2014/UF/{{ candidato.estado }}/foto/{{ candidato.codigo_foto }}.jpg" alt="{{ canditado.nome }}"/>
            {% endif %}
        </div>
        <div class="dados">
            <div class="cargo">
                {{ candidato.cargo.nome|upper }}
            </div>
            {% if eh_resultado %}
            <div class="resultado">
                <span class="label label-{% css_situacao candidato.situacao %}">{{ candidato.get_situacao_display|upper }}</span>
            </div>
            {% endif %}
            <div class="nome">
                <div class="primero-nome">
                    {{ candidato.primeiro_nome }}
                </div>
                <div class="segundo-nome{% if candidato.segundo_nome == "Nulo" or candidato.nome == "Voto em Branco"  %} nulo{% endif %}">
                    {{ candidato.segundo_nome }}
                </div>
            </div>
            <div class="numero">
                <span class="numero-partido">{{ candidato.numero_partido }}</span>{{ candidato.numero_sem_partido }}
            </div>
            <div class="partido">
                {{ candidato.partido.sigla }}
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</div>