<div class="row santinho">
    <input type="hidden" name="candidato_{{ candidato.cargo.codigo }}" value="{{ candidato.numero }}"/>
    <div class="well well-sm candidato col-sm-5">
        <div class="col-sm-10">
            <div class="nome">
                {{ candidato.nome }}
            </div>
            <div class="numero">
                {% for algarismo in candidato.numero_lista %}
                    <span class="algarismo">
                    {{ algarismo }}
                    </span>
                {% endfor %}
            </div>
            <div class="confirma">
                <span class="botao">CONFIRMA</span>
            </div>
            <div class="cargo">
                para {{ candidato.cargo.nome }}
            </div>
        </div>
        <div class="col-sm-2">
            <img src="http://divulgacand2014.tse.jus.br/divulga-cand-2014/eleicao/2014/UF/{{ candidato.estado }}/foto/{{ candidato.codigo_foto }}.jpg" alt="{{ canditado.nome }}"/>
        </div>
    </div>
</div>