{% extends "base.html" %}
{% block css %}
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/santinho.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/share.bar.min.css" />
{% endblock css %}
{% block corpo %}
    <form action="{% url "escolher_candidatos" estado=estado %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="pre-gov">
                {% for candidato in pre_gov %}
                    {% include "include/candidato_santinho_2.html" %}
                {% endfor %}
            </div>
            <div class="outros">
                {% for candidato in outros %}
                    {% include "include/candidato_santinho_2.html" %}
                {% endfor %}
            </div>
        </div>

        <div class="row text-center">
            <button type="submit" class="btn btn-warning">Voltar</button>
            <a href="{% url 'estados' %}" class="btn btn-default" role="button">Criar outro santinho</a>
        </div>
    </form>
    <div class="share-bar" data-title="Santinho Eleições 2014" data-url="{% url 'criar_santinho' estado presidente governador senador deputado_federal deputado_estadual %}" data-image-url="http://www.tre-mg.jus.br/imagens/imagens/marca-das-eleicoes-2014/@@images/be49cc7e-06ca-465c-83b9-f480ee664bf3.jpeg" data-hashtags="#eleições #candidatos #santinho"></div>
{% endblock corpo %}
{% block js_bottom %}
    <script src="{{ STATIC_URL }}js/share.bar.min.js"></script>
    <script>
        new ShareBar();
    </script>
{% endblock js_bottom %}
