{% extends "base.html" %}
{% load filtros %}
{% block corpo %}
    <h3 class="nome-estado">{{ nome_estado }}</h3>
    <p class="texto">Selecione seus candidatos e clique no botão criar abaixo</p>
    <p class="texto">Agora, você também pode conferir o resultado das eleições para os seus candidatos. Selecione os candidatos e clique no botão Resultado</p>

    <form class="form-horizontal" role="form">
    {% for cargo in cargos %}
        {% include "include/candidato_escolha.html" %}
    {% endfor %}
    </form>

    <div class="row text-center">
        <a href="{% url 'estados' %}" class="btn btn-warning" role="button">Voltar</a>
        <a href="" class="btn btn-success link-santinho disabled" role="button">Criar</a>
        <a href="" class="btn btn-default link-resultado disabled" role="button">Resultado</a>
        <button class="btn btn-danger limpar">Limpar</button>
    </div>
{% endblock corpo %}

{% block js_bottom %}
<script type="application/javascript">
    var presidente = {% define_valor_js 'presidente' %};
    var governador = {% define_valor_js 'governador' %};
    var senador = {% define_valor_js 'senador' %};
    var deputado_federal = {% define_valor_js 'deputado-federal' %};
    {% if estado == 'DF' %}
    var deputado_estadual = {% define_valor_js 'deputado-distrital' %};
    {% else %}
    var deputado_estadual = {% define_valor_js 'deputado-estadual' %};
    {% endif %}

    var $linkSantinho = $(".link-santinho");
    var $linkResultado = $(".link-resultado");
    var $presidente = $("#presidente");
    var $governador = $("#governador");
    var $senador = $("#senador");
    var $deputadoFederal = $("#deputado-federal");
    var $deputadoEstadual = $("#deputado-{% if estado == 'DF' %}distrital{% else %}estadual{% endif %}");
    $presidente.select2();
    $governador.select2();
    $senador.select2();
    $deputadoFederal.select2();
    $deputadoEstadual.select2();

    $(".limpar").click(function() {
        presidente = null;
        governador = null;
        senador = null;
        deputado_federal = null;
        deputado_estadual = null;

        $presidente.select2('val', '');
        $governador.select2('val', '');
        $senador.select2('val', '');
        $deputadoFederal.select2('val', '');
        $deputadoEstadual.select2('val', '');
        $linkSantinho.addClass('disabled');
        $linkResultado.addClass('disabled');
    });
    function atualizaBotao() {
        console.log(presidente);
        console.log(governador);
        console.log(senador);
        console.log(deputado_federal);
        console.log(deputado_estadual);
        if (presidente != null && governador != null && senador != null && deputado_federal != null && deputado_estadual != null) {
            var url = "/santinho/{{ estado }}/" + presidente + "/" + governador + "/" + senador + "/" + deputado_federal + "/" + deputado_estadual;
            $linkSantinho.attr("href", url);
            $linkSantinho.removeClass('disabled');
            var url = "/resultado/{{ estado }}/" + presidente + "/" + governador + "/" + senador + "/" + deputado_federal + "/" + deputado_estadual;
            $linkResultado.attr("href", url);
            $linkResultado.removeClass('disabled');
        }
    }
    $("select").change(function() {
        var $this = $(this);
        if ($this.attr("id") == "presidente") {
            presidente = $this.val()
        }
        if ($this.attr("id") == "governador") {
            governador = $this.val()
        }
        if ($this.attr("id") == "senador") {
            senador = $this.val()
        }
        if ($this.attr("id") == "deputado-federal") {
            deputado_federal = $this.val()
        }
        if ($this.attr("id") == "deputado-{% if estado == 'DF' %}distrital{% else %}estadual{% endif %}") {
            deputado_estadual = $this.val()
        }
        atualizaBotao();
    });
    atualizaBotao();
</script>
{% endblock js_bottom %}
