{% extends "base.html" %}
{% load filtros %}
{% block corpo %}
    <h3 class="nome-estado">Segundo Passo</h3>
    <h2>Seu estado: {{ nome_estado }}</h2>
    <p class="texto">Selecione seus candidatos e clique no botão Criar.</p>

    <form class="form-horizontal" role="form">
    {% for cargo in cargos %}
        {% include "include/candidato_escolha.html" %}
    {% endfor %}
    </form>

    <div class="row text-center">
        <a href="{% url 'estados' %}" class="btn btn-warning" role="button">Voltar</a>
        <a href="" class="btn btn-success link-santinho disabled" role="button">Criar</a>
        <button class="btn btn-danger limpar">Limpar</button>
    </div>
{% endblock corpo %}

{% block js_bottom %}
<script type="application/javascript">
    var presidente = {% define_valor_js 'presidente' %};
    {% if estado_tem_segundo_turno %}
    var governador = {% define_valor_js 'governador' %};
    {% endif %}
    {% if not eh_segundo_turno %}
    var senador = {% define_valor_js 'senador' %};
    var deputado_federal = {% define_valor_js 'deputado-federal' %};
    {% if estado == 'DF' %}
    var deputado_estadual = {% define_valor_js 'deputado-distrital' %};
    {% else %}
    var deputado_estadual = {% define_valor_js 'deputado-estadual' %};
    {% endif %}
    {% endif %}

    var $linkSantinho = $(".link-santinho");
    var $presidente = $("#presidente");
    {% if estado_tem_segundo_turno %}
    var $governador = $("#governador");
    {% endif %}
    {% if not eh_segundo_turno %}
    var $senador = $("#senador");
    var $deputadoFederal = $("#deputado-federal");
    var $deputadoEstadual = $("#deputado-{% if estado == 'DF' %}distrital{% else %}estadual{% endif %}");
    {% endif %}
    $presidente.select2();
    {% if estado_tem_segundo_turno %}
    $governador.select2();
    {% endif %}
    {% if not eh_segundo_turno %}
    $senador.select2();
    $deputadoFederal.select2();
    $deputadoEstadual.select2();
    {% endif %}

    $(".limpar").click(function() {
        presidente = null;
    {% if estado_tem_segundo_turno %}
        governador = null;
    {% endif %}
    {% if not eh_segundo_turno %}
        senador = null;
        deputado_federal = null;
        deputado_estadual = null;
    {% endif %}

        $presidente.select2('val', '');
    {% if estado_tem_segundo_turno %}
        $governador.select2('val', '');
    {% endif %}

    {% if not eh_segundo_turno %}
        $senador.select2('val', '');
        $deputadoFederal.select2('val', '');
        $deputadoEstadual.select2('val', '');
    {% endif %}

        $linkSantinho.addClass('disabled');
    });
    function atualizaBotao() {
        {% if eh_segundo_turno %}
        {% if not estado_tem_segundo_turno %}
        if (presidente != null) {
            var url = "/santinho/2-turno/{{ estado }}/" + presidente;
        {% else %}
        if (presidente != null && governador != null) {
            var url = "/santinho/2-turno/{{ estado }}/" + presidente + "/" + governador;
        {% endif %}
        {% else %}
        if (presidente != null && governador != null && senador != null && deputado_federal != null && deputado_estadual != null) {
            var url = "/santinho/{{ estado }}/" + presidente + "/" + governador + "/" + senador + "/" + deputado_federal + "/" + deputado_estadual;
        {% endif %}
            $linkSantinho.attr("href", url);
            $linkSantinho.removeClass('disabled');
        }
    }
    $("select").change(function() {
        var $this = $(this);
        if ($this.attr("id") == "presidente") {
            presidente = $this.val()
        }
        if ($this.attr("id") == "governador") {
            governador = $this.val()
        }
    {% if not eh_segundo_turno %}
        if ($this.attr("id") == "senador") {
            senador = $this.val()
        }
        if ($this.attr("id") == "deputado-federal") {
            deputado_federal = $this.val()
        }
        if ($this.attr("id") == "deputado-{% if estado == 'DF' %}distrital{% else %}estadual{% endif %}") {
            deputado_estadual = $this.val()
        }
    {% endif %}
        atualizaBotao();
    });
    atualizaBotao();
</script>
{% endblock js_bottom %}
