{% extends "base.html" %}
{% block corpo %}
    <h3 class="nome-estado">Primeiro Passo</h3>
    <p class="texto">Escolha seu estado e clique em Santinho ou em Resultado para o próximo passo</p>
    <div class="row estado">
        <select id="estado" name="estado" data-placeholder="Escolha seu Estado">
            <option value=""></option>
            {% for estado in estados %}
                <option value="{{ estado.0 }}">{{ estado.1 }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="row text-center">
        <a href="" class="btn btn-success santinho disabled" role="button">Santinho</a>
        <a href="" class="btn btn-success resultado disabled" role="button">Resultado</a>
    </div>
{% endblock corpo %}

{% block js_bottom %}
<script type="application/javascript">
    var estado = null;
    var $estado = $("#estado");
    $estado.select2({width: "100%"});
    $("select").change(function() {
        var $this = $(this);
        estado = $this.val();
        if (estado) {
            var url_santinho = "{% url 'santinho_escolher_candidatos' 'BR' %}".replace("BR", estado);
            $(".santinho").attr("href", url_santinho);
            $(".santinho").removeClass('disabled');

            var url_resultado = "{% url 'resultado_escolher_candidatos' 'BR' %}".replace("BR", estado);
            $(".resultado").attr("href", url_resultado);
            $(".resultado").removeClass('disabled');
        }
    });
</script>
{% endblock js_bottom %}
