.santinho {
    margin-bottom: 5px;
}

.pre-gov, .outros {
    float: left;
}

.pre-gov .candidato {
    padding: 17px 54px 10px 16px;
    margin: 0 15px 31px 0;
}

.pre-gov .foto {
    margin-right: 25px;
}

.pre-gov .cargo {
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.01em;
}

.pre-gov .numero {
    font-size: 83px;
    line-height: 97px;
}

.pre-gov .partido {
    font-size: 21px;
    margin-left: 5px;
    line-height: 19px;
}

.pre-gov img {
    height: 221px;
}

.pre-gov .nome {
    margin-top: 11px;
    font-size: 34px;
}

.pre-gov .primero-nome {
    letter-spacing: -0.01em;
    line-height: 36px;
}

.pre-gov .segundo-nome {
    letter-spacing: -0.13em;
    line-height: 39px;
}

.outros .candidato {
    padding: 11px 40px 7px 6px;
    margin: 0 10px 10px 0;
}

.outros .nome {
    font-size: 21px;
    margin-top: 10px;
    line-height: 28px;
}

.share-bar {
    margin-top: 20px;
}


.outros .primero-nome {
    letter-spacing: -0.002em;
    line-height: 29px;
}

.outros .segundo-nome {
    letter-spacing: -0.12em;
    line-height: 21px;
}

.outros .cargo {
    font-size: 12px;
    line-height: 10px;
}

.outros .numero {
    font-size: 45px;
}

.outros img {
    height: 145px;
}

.outros .foto {
    margin-right: 22px;
}

.primero-nome, .numero {
    font-weight: 300;
}

.numero-partido, .cargo, .partido, .segundo-nome {
    font-weight: 500;
}

.candidato {
    color: #333;
    font-family: 'Roboto', verdana, sans-serif;
    border: solid 1px #D4D6D9;
    background-color: #FFF;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(150, 150, 150, 0.75);
    -moz-box-shadow:    2px 2px 2px 0 rgba(150, 150, 150, 0.75);
    box-shadow:         2px 2px 2px 0 rgba(150, 150, 150, 0.75);
}

.candidato .foto, .candidato .dados {
    float: left;
}


.algarismo {
    background-color: #555;
    border: 2px solid;
    border-color: #CCC #444 #444 #CCC;
    color: #DDD;
    display: inline-block;
    width: 26px;
    height: 28px;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 2px;
    padding-left: 2px;
}