.santinho {
    margin-bottom: 5px;
    overflow: hidden;
}

.candidato {
    margin-bottom: 5px;
}

.candidato img {
    height: 65px;
}

.algarismo {
    background-color: #555;
    border: 2px solid;
    border-color: #CCC #444 #444 #CCC;
    color: #DDD;
    display: inline-block;
    width: 26px;
    height: 28px;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 2px;
    padding-left: 2px;
}