.santinho {
    margin-bottom: 5px;
    overflow: hidden;
}

.candidato {
    margin-bottom: 5px;
}

.candidato img {
    height: 65px;
}

.algarismo {
    background-color: #555;
    border: 1px solid #DDD;
    color: #DDD;
    display: inline-block;
    width: 23px;
    height: 26px;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 1px;
}